## Nginx
COUNTRY=JP
STATE=Tokyo
LOCALITY=Shinjuku
ORGANIZATION=42Tokyo
ORGANIZATION_UNIT=Student
COMMON_NAME=knishiok.42.fr
USER_ID=knishiok

## MariaDB
DB_NAME=db_name
DB_USER=knishiok

## WordPress
DOMAIN_NAME=knishiok.42.fr
WP_TITLE="inception"
WP_ADMIN_NAME=master
WP_ADMIN_EMAIL=master@student.42tokyo.jp
WP_USER_NAME=knishiok
WP_USER_EMAIL=knishiok@student.42tokyo.jp
WP_USER_ROLE=author
